html, body {
  height: 100%;
}

div.header {
  margin: 10px 0;
}

img.logo {
  width: 150px;
  size: contain;
}

label {
  font-size: 18px;
}

div.infraColor {
  width: 20px;
  height: 20px;
  background-color: #EB1005;
  margin-top: 2px;
  margin-right: 10px;
  border-radius: 50%;
}

.usageColor {
  width: 20px;
  height: 20px;
    margin-top: 2px;
  margin-right: 10px;
  background-color: #4FE825;
  border-radius: 50%;
}

.legend {
  margin-bottom: 50px;
}

.legendText {
  font-size: 17px;
}

.visual, .calc {
  padding-top: 20px;
}

.visual {
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 20px;
  border: 1px #222 solid;
  border-radius: 2%;
}

.container {
  min-height: 100%;
  position: relative;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
